

<body>
<style>
    body{
        background-image: url("https://image.shutterstock.com/image-vector/postcard-wild-african-animals-illustration-260nw-586569452.jpg");
        background-size: cover;
        backdrop-filter:inherit;}
</style>
     <center>
        <div >  
            <br><br><br><br><br><br>
            {{msg}}<br>
            {{email}}
       <table border="8" width="50%" height="40%">
            <tr><th>Ticket_id</th><td>&emsp;&emsp;{{ticket_id}}</td></tr>
            <tr><th>Name</th><td>&emsp;&emsp;{{name}}</td></tr>
            <tr><th>Date</th><td>&emsp;&emsp;{{date}}</td></tr>
            <tr><th>Time</th><td>&emsp;&emsp;{{time}}</td></tr>
            <tr><th>Members</th><td>&emsp;&emsp;{{vtotal}}</td></tr>    
        </table></center>
        </div>
    </body>
        